
header{
    background-color: blanchedalmond;
    border-radius: 0px;
    text-align: center;
    font-size: 30px;
    display: flex;
}
h1{
    margin-left: 30px;
    text-align: center;
}
.cards-grid{
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: fit-content;
    padding: 20px;
    flex: 1;

}
.store-header{
    width: 100px;
    height: 120px;
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
}
.information{
    text-align: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;

}
.card h2{
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.card{
    width: 350px;
    height: 300px;
    align-items: center;
    background-color: blanchedalmond;
    border-radius: 20px;
    box-shadow: 0 5px 15px grey;
    margin-left: 30px;


}
.card img{
    width: 200px;
    border-radius: 22px;
    justify-content: center;
    margin-top: 20px;
    margin-left: 60px;
}
.card p{
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}
#picture{
    margin-top: 0px;
}
#tuna img{
    width: 150px;
    height: 120px;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: blanchedalmond;
    font-size: larger;
}